{% extends "base.html" %}

{% block content %}

{% if config.SMS_NUMBER %}
<div class="header">
  <h3>Text your message to: {{ config.SMS_NUMBER }}
</div>
{% endif %}

<div id="messages" class="row">

</div>

{% endblock %}

{% block custom_js %}
<script>
  listenForMessages()

  socket.on('connect', function() {
    socket.emit('resend_all');
  });

  function displayTick() {
    var messageId = randomProperty(messageStack)

    if (messageId) {
      if (isMessageDisplayed(messageId)) {
        console.log("tried to render, but caught duplicate" + messageId)
      } else {
        $("<div>", {id: "message_" + messageId, "class": "message col-sm-12 col-lg-6"}).text(messageStack[messageId]).prependTo($("#messages"))
      }
      delete messageStack[messageId]
    }
  }

  setInterval(displayTick, 1000)
</script>
{% endblock %}
