@font-face {
  font-family: OpenSans;
  src: url('/static/OpenSans-Regular.ttf');
}

body {
  background-color: #172A3A;
}

.text-container {
  background-color: #CDE;
  padding: .5em 1em 2em 1em;
  margin-top: 2em;
}

.text-container h2 {
  margin-top: 2em;
}

.message {
  border: 2px dotted #508991;
  background-color: #74B3CE;
  font-family: OpenSans;
  margin: 1em;
  padding: 1em;
}

.id-field {
  float: left;
  width: 3em;
  font-weight: bold;
}

.action-button {
  margin: 0 .25em 0 .25em;
}

.approve-button {
  background-color: green;
}

.reject-button {
  background-color: red;
}

.rainbow-color {
  align-items: center;
  display: flex;
  font-family: OpenSans;
  height: 9em;
  justify-content: center;
  padding: .5em;
  position: absolute;
  text-align: center;
  width: 20em;
}

.header, .rainbow-header, .holiday-header {
  background-color: #CDE;
  font-family: OpenSans;
  padding: .25em;
  text-align: center;
  width: 80%;
}

/* RAINBOW STYLES */
.rainbow-header, .holiday-header{
  position: fixed;
  top: 0;
}

.rainbow-red { background-color: #ffb3ba ; border-left: 3px solid #fcb0b7}
.rainbow-orange { background-color: #ffd2b3 ; border-left: 3px solid #fccfb0}
.rainbow-yellow { background-color: #fff8b3 ; border-left: 3px solid #fcf5b0}
.rainbow-green { background-color: #baffb3 ; border-left: 3px solid #b7fcb0}
.rainbow-blue { background-color: #bae1ff ; border-left: 3px solid #b7d8fc}

/* HOLIDAY STYLES */

#snowflakeContainer {
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}

.holiday-color {
  align-items: center;
  display: flex;
  font-family: OpenSans;
  height: 9em;
  justify-content: center;
  padding: .5em;
  position: absolute;
  text-align: center;
  width: 20em;
}
.snowflake {
	position: fixed;
	background-color: #CCC;
	user-select: none;
	z-index: 1000;
	pointer-events: none;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

.holiday-green1, .holiday-green2 { background-color: #019D43 ; border-left: 3px solid #017D23}
.holiday-white1, .holiday-white2 { background-color: #F3EFEE ; border-left: 3px solid #D3CFCE}
.holiday-red { background-color: #DE1E26 ; border-left: 3px solid #BE0E06}
