
body {
  background-color: #172A3A;
}

.text-container {
  background-color: #CDE;
  padding: .5em 1em 2em 1em;
  margin-top: 2em;
}

.text-container h2 {
  margin-top: 2em;
}

.message {
  border: 2px dotted #508991;
  background-color: #74B3CE;
  margin: 1em;
  padding: 1em;
}

.id-field {
  float: left;
  width: 3em;
  font-weight: bold;
}

.action-button {
  margin: 0 .25em 0 .25em;
}

.approve-button {
  background-color: green;
}

.reject-button {
  background-color: red;
}

.rainbow-color {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9em;
  width: 20em;
  padding: .5em;
}

.rainbow-red { background-color: #ffb3ba ; border-left: 3px solid #fcb0b7}
.rainbow-orange { background-color: #ffd2b3 ; border-left: 3px solid #fccfb0}
.rainbow-yellow { background-color: #fff8b3 ; border-left: 3px solid #fcf5b0}
.rainbow-green { background-color: #baffb3 ; border-left: 3px solid #b7fcb0}
.rainbow-blue { background-color: #bae1ff ; border-left: 3px solid #b7d8fc}
