{% extends "base.html" %}

{% block content %}
<div class="text-container">
  <h2>Submit message</h2>
  <div>
    Message: <input type="text" id="message_input" />
    <input type="button" value="Send" onclick="submitMessage()"/>
  </div>

  <h2>Approve messages</h2>

  <div id="messages_awaiting_approval">
  </div>
</div>

{% endblock %}

{% block custom_js %}

<script>
  var socket = io();
  socket.on('connect', function() {
    socket.emit('resend_all');
  });

  $(document).on('keypress',function(e) {
      if(e.which == 13) {
            submitMessage()
      }
  });

  function pollApprovals() {
    socket.emit("request_approvals")
  }

  $(document).ready(function(){
    setInterval(pollApprovals, 1000)
  });

  function submitMessage() {
    console.log("Emitting: " + $("#message_input").val())
    socket.emit("submit_message", {content: $("#message_input").val()})

    $("#message_input").val("")
  }

  function deleteById(id) {
    console.log("removing " + id)
    $("#approval_request_" + id).remove()
  }

  function reject(id) {
    socket.emit("reject", { message_id: id })
    deleteById(id)
  }

  function approve(id) {
    socket.emit("approve", { message_id: id })
    deleteById(id)
  }

  function findOrDisplay(approvalRequest) {
    var id = "approval_request_" + approvalRequest.id;
    if (! $("#"+id).length) {
      var element = $("<div>", {id: id, "class": "message-approval"})
      $("<span>", {"class": "id-field"}).text(approvalRequest.id).appendTo(element)
      $(
        "<input>",
        {type:"button", value: "👍", "class": "action-button approve-button" },
      )
        .click(function() { approve(approvalRequest.id)})
        .text(approvalRequest.content)
        .appendTo(element)
      $(
        "<input>",
        {type:"button", value: "👎", "class": "action-button reject-button"}
       )
        .click(function() { reject(approvalRequest.id)})
        .text(approvalRequest.content)
        .appendTo(element)
      $("<span>").text(approvalRequest.content).appendTo(element)
      element.appendTo($("#messages_awaiting_approval"))
    }
  }

  socket.on("approvals", function(data) {
    data.forEach(function (approvalRequest) {
      findOrDisplay(approvalRequest)
    })
  })
</script>

{% endblock %}
